# Enable rewrite engine
RewriteEngine On

# Allow direct access to existing files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect /admin/... to /assets/app/admin/...
RewriteRule ^admin/(.*)$ assets/app/admin/$1 [L]
